.auth {
  margin-left: 300px;
  width: 100%;
  height: 100%;
  background-color: #f4f5fa;
  color: rgba(51, 51, 51, 0.75);
}
.Authenticate {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}
.username input,
.email input,
.password input {
  width: 50%;
  height: 30px;

  box-shadow: 5px 5px 20px #b3adad;
  font-size: 1.1rem;
  padding-left: 15px;
  color: rgba(51, 51, 51, 0.75);
  border-radius: 5px;
  border: 0px;
}
.username {
  margin-left: 26%;
  margin-top: 50px;
}
.email {
  margin-left: 26%;
  margin-top: 40px;
}
.password {
  margin-left: 26%;
  margin-top: 40px;
}
.username i,
.email i,
.password i {
  margin-right: 20px;
}

.btnauth {
  width: 100px;
  height: 30px;
  margin-left: 42%;
  margin-top: 40px;
  border-radius: 5px;
  border: 0px;
  box-shadow: 5px 5px 20px #b3adad;
  background-color: #0f65b2;
  color: #ffff;
  font-size: 0.8rem;
}
.linkSignUp {
  margin-left: 34%;
  margin-top: 130px;
}
.linkSignUp span {
  width: 300px;
  height: 30px;
}
